<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/feed.css">
  <script type="module" src="/js/feed.js" defer></script>
</head>
<body>
  <main id="feedContainer">
    <section id="newPostContainer">
      <textarea id="newPostContent" placeholder="What's on your mind?" maxlength="280"></textarea>
      <button id="postButton">Post</button>
    </section>

<!-- Template for posts -->
<section id="postsContainer">
  <article class="postContainer" id="postTemplate" style="display: none;">
    <header class="usernameBar">
      <span class="postUsername">USERNAME</span>
      <span class="postTimestamp">TIMESTAMP</span>
    </header>
    <p class="postContent">CONTENT</p>
    <footer class="postLikes">
      <button class="likeButton">Like</button>
      <span class="likeCount">0</span>
    </footer>
  </article>
</section>

  </main>
</body>
</html>
