<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/userCredentials.css">
  <script src="/js/register.js" defer></script>
</head>
<body>
  <form-container>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <div class="username-class">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="password-class">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
    <div id="linkToLogin">Already have an account? <a href="/login">Login here</a></div>
  </form-container>
</body>
</html>
